spring:
  datasource:
    url: jdbc:mysql://localhost:3307/notification_hub
    username: ${DB_USER}
    password: ${DB_PASS}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
        connection.isolation: 2
        cache.use_second_level_cache: false
        cache.use_query_cache: false

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method
    tagsSorter: alpha

jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000

telegram:
  bot:
    token: ${TELEGRAM_BOT_TOKEN}
  default-chat-id: ${TELEGRAM_CHAT_ID}

discord:
  webhook:
    url: ${DISCORD_WEBHOOK_URL}

admin:
  username: ${ADMIN_USERNAME}
  password: ${ADMIN_PASSWORD}

logging:
  level:
    root: INFO
    org.springframework.security: DEBUG
    com.notificationhub: DEBUG